@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: Lato;
  margin: 0;
}

h2 {
  margin: 0.2em 0 0.5em;
}

p {
  margin: 1em 0;
}

var {
  background: lightpink;
  color: purple;
  font-style: normal;
  padding: 0 2px;
}
